.view {
}


.button-container {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.button {
    background-color: rgb(102, 167, 255);
    padding: 10px;
    margin: 5px;
}
